ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color:#b33c00;
}
    body {
    background-color: #a4c5c6;
    /*bachground-image: url("paw.png");
    background-repeat: repeat;*/
    margin: 0 10%;
    font-family: sans-serif;
    }
  h1 {
    color: #343f56;
    text-align: center;
    font-family: Georgia, serif;
    font-weight: normal;
    border-bottom: 5px dotted #ff7e67;
    margin-top: 30px;
    }
  h2 {
    color: #dd6b4d;
    text-align: center;
    font-size: 1.5em;
    }
  p {
    text-align: center;
    font-size: 1em;
    }
 img {
   padding:1px;
   border:5px solid #35495e;
   background-color:#ff7e67;
   width: 15%;
   margin-left: .5em;
   margin-right: .5em;
}
